[submodule "mqtt/paho.mqtt.python"]
	path = mqtt/paho.mqtt.python
	url = https://github.com/eclipse/paho.mqtt.python
[submodule "mqtt/paho.mqtt.testing"]
	path = mqtt/paho.mqtt.testing
	url = https://github.com/eclipse/paho.mqtt.testing.git
[submodule "pyautogui"]
	path = Braincraft/pyautogui
	url = https://github.com/asweigart/pyautogui
[submodule "seeed-voicecard"]
	path = Braincraft/seeed-voicecard
	url = https://github.com/HinTak/seeed-voicecard
[submodule "Braincraft/rpi-vision"]
	path = Braincraft/rpi-vision
	url = https://github.com/adafruit/rpi-vision.git
